<!doctype HTML>

<html ng-app="userApp">
  <head>
    <title>Controllers | LearnAngular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>

    <script>

      // Applying class to html elements
      //   based on conditional statements

      angular.module('userApp', [])
        .controller('userController', function($scope) {

          // 'this' refers to the controller.
          var userController = this;
          console.log(this);

          userController.toggle = false;

          userController.users = [
            {name: 'Haopei', age: 28},
            {name: 'Lee', age: 18},
            {name: 'Mik', age: 16}

          ];

          userController.addUser = function() {
            // Retrieve values from the form via ng-submit
            //   and push the values to the userController.users list
            userController.users.push({
              name: userController.name,
              age: userController.age
            })

            // reset the form inputs
            userController.name = '';
            userController.age = 0;
          };

        })
    </script>
    <style>
      .over-twenty { color: red; }
      .under-twenty { color: blue; }
      .hidden {display: none;}
    </style>
  </head>

  <body ng-controller="userController as userController">

    <!--
    apply the .over-twenty-five class if u.age is over 25.
    Syntax: ng-class="{class_to_apply:condition}" -->
    <ul ng-class="{'hidden' : !userController.toggle}">
      <li
        ng-repeat="u in userController.users"
        ng-class="{ 'over-twenty': u.age > 20,
                    'under-twenty': u.age < 20 }">
          {{u.name}} - {{u.age}}
        </li>
    </ul>


    <button ng-click="userController.toggle = true">Show Users</button>


    <h4>Alternative method using ternary statements</h4>
    <ul>
      <li
        ng-repeat="u in userController.users"
        ng-class="u.age > 20 ? 'over-twenty' : 'under-twenty'">
          {{u.name}} - {{u.age}}
        </li>
    </ul>




    <form ng-submit="userController.addUser()">
      <input type="text" ng-model="userController.name" placeholder="Name">
      <input type="number" ng-model="userController.age" placeholder="Age">
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
